* {
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px!important;
}

.no-results {
    margin: 50px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #879683;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.content {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
}

select {
    float: right;
    background-color: white;
}


/* search bar */

.search-container {
    float: right;
}

input[type=text],
select {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin: 10px 0;
    /* margin-right: 16px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    a,
    input[type=text],
    .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    input[type=text] {
        border: 1px solid #ccc;
    }
}


/* table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #c4c4c4;
    text-align: left;
    padding: 8px;
}

th:hover,
td:hover {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #dddddd;
}